@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  list-style: none;
}

:root {
  --text-dark: #fafafa;
  --background-dark: #050505;
  --primary: #0f8b9f;
  --secondary-dark: #1a1e25;
  --accent-dark: #73f2c3;
  --texti-light: #050505;
  --background-light: #fafafa;
  --secondary-light: #d0e0fb;
  --accent-light: #16e99c;
  --comment: red;
  /* Define CSS variables for standard screen sizes */
  --small-screen: 767px;
  --medium-screen: 1023px;
  --large-screen: 1024px;
}


body {
  min-height: 100vh;
  background-color: var(--background-dark);
  color: var(--text-dark);
}

/*!! navbar start */

header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--background-dark);
  padding: 28px 12%;
  transition: all .50s ease;
  border-bottom: 2px solid var(--accent-dark);
  height: 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo i {
  color: var(--accent-dark);
  font-size: 28px;
  margin-right: 3px;
}

.logo span {
  color: var(--text-dark);
  font-size: 1.7rem;
  font-weight: 600;
}

.logo img {
  width: 64px;
  height: auto;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-dark);
  font-size: 1.1rem;
  font-weight: 500;
  padding: 5px 0;
  margin: 0px 30px;
  transition: all .50s ease;
}

.navbar a:hover {
  color: var(--accent-dark);
}

.main {
  display: flex;
  align-items: center;
}

.main a {
  margin-right: 25px;
  margin-left: 10px;
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: 500;
  transition: all .50s ease;
}

.main a:hover {
  color: var(--accent-dark);
}

#menu-icon {
  font-size: 35px;
  color: var(--text-dark);
  cursor: pointer;
  z-index: 10001;
  display: none;
}

@media (max-width: 1280px) {
  header {
    padding: 14px 2%;
    transition: .2s;
  }

  .navbar a {
    padding: 5px 0;
    margin: 0px 20px;
  }
}

@media(max-width:1090px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 270px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 10px;
    transition: all .50s ease;
  }

  .navbar a {
    display: block;
    margin: 12px 0;
    padding: 0px 25px;
    transition: all .50s ease;
  }

  .navbar a:hover {
    color: var(--text-dark);
    transform: translateY(5px);
  }

  .navbar.open {
    right: 2%;

  }
}

/*!! navbar finished */

/*!!banner start*/

.start {
  margin-left: 10%;
  width: 50%;
}

.start p {
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 1.5rem;
  margin-left: 3rem;
  line-height: 2rem;
  margin-bottom: 0.5rem;
  width: 70%;
}

.start h1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 0.7rem;
}

.start button {
  display: inline-block;
  width: 8rem;
  height: 3rem;
  border-radius: 5rem;
  border: 1px solid var(--accent-dark-dark);
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease-in;
  z-index: 1;
  margin-left: 4rem;
  margin-top: 0.75rem;
}

.start button::before,
.start button::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  transform: skew(15deg);
  transition: all 0.5s;
  overflow: hidden;
  z-index: -1;
}

.start button::before {
  left: -10px;
  background: var(--accent-light);
}

.start button::after {
  right: -10px;
  background: var(--accent-dark);
}

.start button:hover::before,
.start button:hover::after {
  width: 58%;
}

.start button:hover span {
  color: var(--secondary-dark);
  transition: 0.3s;
}

.start button span {
  color: var(--texti-light);
  font-size: 18px;
  transition: all 0.3s ease-in;
}

header+main {
  margin-top: 6rem;
  padding: 9rem;
}


.start {
  margin: auto;
  width: 100%;
}

/* @media(max-width:720px) {
  header + main {
    margin-top: 6rem;
    padding: 1rem;
  } */




/* Example media queries using the CSS variables */
@media screen and (max-width: 767px) {

  /* Styles for small mobile devices */
  header+main {
    margin-top: 6rem;
    padding: 1rem;
  }

  .zapam {
    display: none;
  }
}

/*!! banner finished */

/*!! projects start */

/* styles.css */

/* Apply CSS Grid to the container */
.projects {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 11px;
  place-items: center;
  /* Center items both horizontally and vertically */
  height: 4vh;
  /* Set the container height to fill the viewport */
  width: 100%;
  height: 100%;
}

/* Apply styles to the grid items */
.grid-project {
  background-color: var(--secondary-dark);
  border: 1px solid #ccc;
  padding: 20px;
  min-width: 2rem;
  width: 70%;
  text-align: center;
  border-radius: 50px 0;
  margin-top: 2rem;
  border: none;
  box-shadow: 0 0 10px var(--accent-dark);
}

.grid-project img {
  width: 70%;
  border-radius: 5px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

@media screen and (max-width: 767px) {
  .projects {
    grid-template-columns: repeat(1, 2fr);
  }

  @media screen and (min-width: 767px) and (max-width:1023px) {
    .projects {
      grid-template-columns: repeat(1, 2fr);
    }
  }
}

.p-div {
  margin-top: 20rem;
}

.p-div .h2-p {
  margin-bottom: 5rem;
  margin-left: 0.7rem;
  font-size: 3rem;
}

hr {
  height: 4px;
  width: 15rem;
  margin: auto;
  margin-top: 1rem;
  background: linear-gradient(90deg, var(--accent-dark), var(--primary));
  border: none;
  border-radius: 2px;

}


.grid-project p {
  text-align: left;
  margin-top: 1rem;
}

.grid-project h2 {
  margin-top: 1rem;
}

.grid-project button {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: var(--accent-light);
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  margin-top: 1rem;
}


.grid-project button:hover {
  background-color: var(--accent-dark);
  box-shadow: 0 0 20px #6fffbc50;
  transform: scale(1.1);
}

.grid-project button:active {
  background-color: var(--accent-dark);
  transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}

.grid-project img:hover {
  transition: all 0.25s;
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--primary);
}


/* !!projects finish */
/* !!technologies start */

.techs {
  width: 100%;
  height: 100%;
  margin-top: 20rem;
}

.techs h2 {
  margin-bottom: 5rem;
  margin-left: -3rem;
  font-size: 3rem;
}

.bg-bar {
  background-color: var(--secondary-dark);
  border-radius: 2rem;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.bg-bar,
.fill-bar {
  height: 1.5rem;
}

.bar-label{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.fill-bar{
  background: linear-gradient(90deg, var(--accent-dark) , var(--primary),var(--accent-light));
  border-radius: 2rem;
  box-shadow: 0 0 10px var(--accent-dark);
}

.fill-bar.html{
  width: 80%;
}

.fill-bar.css{
  width:55%
}

.fill-bar.js{
  width:50%
}

.ul-skills{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  padding-left: 1.5em;
  font-size: 1.3rem;
}
/*TODO: ajust the size*/
.h2-skills{
  margin-top: 15rem;
  font-size: 2rem;
  margin-bottom: 4rem;
}

.ul-skills .li-skills::before {
  content: "\2022";
  color: var(--accent-dark);
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  font-size: 1.5em;
  vertical-align: middle;
}
/*TODO: make the Technologies responsive*/
/*!!Technologies finished*/

/* !!about me start */
.about{
  margin-top: 20rem;
}

.about h2{
  margin-bottom: 2rem;
  font-size: 3rem;
}

.about p{
  font-size: 1.3rem;
  margin-left: 2rem;
}

/* !!about me finished */

/* !!footer start */

.main-footer {
  height: 6rem;
  background-color: #1a1e25;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.main-footer div {
  text-align: center;
}

.main-footer p {
  margin: 0;
}

.social-links a {
  margin-left: 1rem;
  margin-right: 25px;
  color: var(--text-dark);
  font-size: 1.5rem;
  font-weight: 500;
  transition: all .50s ease;
}

.social-links a:first-child {
  margin-left: 0;
}




.social-links a:hover {
  color: var(--accent-dark);
}

/*TODO make the footer about me responsive later*/

.bar-label{
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}