:root{
  --text-dark: #fafafa;
--background-dark: #050505;
--primary: #0f8b9f;
--secondary-dark: #04142f;
--accent-dark: #73f2c3;
--texti-light: #050505;
--background-light: #fafafa;
--secondary-light: #d0e0fb;
--accent-light: #16e99c;
}